body {
    background-color: #a3a3a3;
    /** body에 배경이미지 적용 */
    background-image: url("./images/pattern.png");
    /** 고정된 사이즈로 설정 */
    background-size: 100px;
  
    /** 기본 body 사이즈를 화면 크기로 고정 */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .bookcover {
    /** 배경 색깔 지정  */
    background-color: #b4d1da;
    /** 모서리 둥글게 */
    border-radius: 9px;
    /** 윤곽선 */
    border: 1px solid #738086;
  
    /** 기본 너비, 높이 지정 (반응형 X) */
    width: 960px;
    height: 660px;
  
    /** 좌우 마진을 auto(중앙에 배치), 상하 마진을 100px로 지정 */
    margin: 100px auto;
  
    /** .bookdot 요소에서 absolute 속성값을 이용하기 위해 position: relative 로 설정 */
    position: relative;
  }
  
  .bookdot {
      width: 940px;
      height: 640px;
      border-radius: 9px;
      border-style:dashed;
        border-width: 2px;
      border-color:rgb(255, 255, 255);
      margin: auto auto;
      position: absolute;
       top: 9px;    /*bookdot의 height가 660이고 dashed line의 두께가 2px이므로 그것에서 absoulte 기준으로 10px을 띄우면 아래에서도 10px 띄워지게 됨을 이용*/
       left: 9px;   /*bookdot의 width가 960이고 dashed line의 두께가 2px이므로 그것에서 absoulte 기준으로 10px을 띄우면 우측에서도 10px 띄워지게 됨을 이용 */
  }

  .page {
    width: 930px;
    height: 630px;
    background-color: lightgray;
    border-radius: 9px;
    position: absolute;
     top: 5px;    /*bookdot의 height가 640이고, 그것에서 absoulte 기준으로 5px을 띄우면 아래에서도 5px 띄워지게 됨을 이용*/
     left: 5px;   /*bookdot의 width가 940이고, 그것에서 absoulte 기준으로 5px을 띄우면 우측에서도 5px 띄워지게 됨을 이용 */

     display:flex;
     padding: 10px 10px 10px 10px;
     box-sizing: border-box;
  }

/*container*/


/* h1 {font-family: 'KOTRA_BOLD-Bold'} */

.first_container_column1 {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  padding-right: 15px;
}

.column1_row1 {
  flex: 0.1;
  border-color: transparent;
  text-align: center;
}

.img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  position: relative;
    left:7px;
}

.today_total {
  font-family: 'NeoDunggeunmo';
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: bolder;
  margin-top: 3px;
  }

.today {
  color: red;
  font-weight: bold;
  place-content: right;
}

.column1_row2 {
  display: flex;
  flex-direction: column;
  flex: 1.8;
  border: 2px solid;
  border-radius: 9px;
  border-color: gray;
  background-color: white;
}

.column1_row2_row1 {
  align-content: center;

  flex: 1;
  margin: 10%;
}

.column1_row2_row2 {
  font-family: 'KyoboHand';
  font-size: 13px;
  font-weight: 500;
  flex: 1.5;
  margin: 0px 10% 20px 10%;
}

.column1_row2_row3 {
  font-family: 'KyoboHand';
  font-size: 15px;
  flex: 0.3;
  margin: 0px 10% 10px 10%;
  border: 1px solid transparent;
  position: relative;
}

.profile-dropdown {
  flex:0;
  border: 1px solid whitesmoke;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  font-size: 0.8rem;
  position: relative;
}

.dropdown-title {
  color: rgb(136, 8, 4);
  margin-left: 3px;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 8px solid #838383; 
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.profile-dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown-content > a {
  display: block;
  background-color: #f9f9f9;
  box-shadow: 0px 16px 36px 19px black;
  width: 100%;
  padding: 8px;
  color: black; 
  text-decoration: none;
}

.dropdown-content > a:hover {
  background-color: rgb(153, 100, 100);
}