@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap');
h1 {
    color:rgb(20, 56, 88);
    font-family:'Gaegu', cursive;
    font-size: 24px;
    font-weight: 2000;
    padding: 5px;
}
h2 {
    color:black;
    font-family:'Gaegu', cursive;
    font-size: 18px;
    font-weight: 500;
    margin: 3px 5px;
}
h3 {
    color:black;
    font-family:'Gaegu', cursive;
    font-size: 14px;
    font-weight: 600;
    margin: 1rem;
}
h4 {
    color:black;
    font-family:'Gaegu', cursive;
    font-size: 14px;
    font-weight: 300;
}
@font-face {
    font-family: 'WandohopeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'WandohopeB';
    font-weight: normal;
    font-size: 14px;
}
.main_img {
    width: auto; height: auto;
    max-width: 500px;
    max-height: 500px;
    float: right;
    margin-right: 10px;
    margin-bottom: 20px;
}

}

h5 {
    color:#b6b5af

}